@use '../base/mixins' as *;

.assignments-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  @include up(sm) {
    gap: 1.5rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @include up(lg) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  @include up(xl) {
    gap: 2rem;
  }
}
